.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 360px;
  margin: 20px auto;
  border: 3px solid var(--sudoku-border-color);
  background-color: var(--sudoku-grid-bg);
}

.sudoku-cell {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 24px;
  border: 1px solid var(--sudoku-cell-border-color);
  box-sizing: border-box;
  font-weight: bold;
  color: var(--sudoku-cell-color);
  background-color: var(--sudoku-cell-bg);
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  cursor: default;
  caret-color: transparent;

}

.sudoku-cell:focus {
  border: 2px solid var(--sudoku-focus-color);
}

.sudoku-cell:hover:not([readonly]) {
  background-color: var(--sudoku-hover-bg);
  cursor: pointer;
}

.bottom-border {
  border-bottom: 3px solid black;
}

.right-border {
  border-right: 3px solid black;
}

.locked-cell {
  background-color: var(--sudoku-locked-cell-bg);
  color: var(--sudoku-locked-cell-color);
  font-weight: bold;
  cursor: default;
}

.selected-cell {
  background-color: var(--sudoku-selected-cell-bg);
  border: 2px solid var(--sudoku-selected-cell-border);
  box-shadow: 0 0 8px var(--sudoku-selected-cell-shadow);
}

.highlight-row-col {
  background-color: var(--sudoku-highlight-row-col-bg);
}

.highlight-same-number {
  background-color: var(--sudoku-highlight-same-number-bg);
  color: var(--sudoku-same-number-color);
}

.no-cursor {
  cursor: default;
  caret-color: transparent;
}

body.light-theme {
  --sudoku-border-color: #555;
  --sudoku-grid-bg: #f8f8f8;
  --sudoku-cell-border-color: #ddd;
  --sudoku-cell-bg: #fff;
  --sudoku-cell-color: #000;
  --sudoku-hover-bg: #eaeaea;
  --sudoku-focus-color: #00bcd4;
  --sudoku-selected-cell-bg: #c1e7ff;
  --sudoku-selected-cell-border: #00bcd4;
  --sudoku-selected-cell-shadow: rgba(0, 188, 212, 0.5);
  --sudoku-highlight-row-col-bg: #e5f6ff;
  --sudoku-highlight-same-number-bg: #c2d6ed;
  --sudoku-same-number-color: #000;
  --sudoku-locked-cell-bg: #eaeaea;
  --sudoku-locked-cell-color: #555;
}

body.dark-theme {
  --sudoku-border-color: #777;
  --sudoku-grid-bg: #222;
  --sudoku-cell-border-color: #444;
  --sudoku-cell-bg: #2b2b2b;
  --sudoku-cell-color: #ddd;
  --sudoku-hover-bg: #333;
  --sudoku-focus-color: #ffcc00;
  --sudoku-selected-cell-bg: #555555;
  --sudoku-selected-cell-border: #ffcc00;
  --sudoku-selected-cell-shadow: rgba(255, 204, 0, 0.5);
  --sudoku-highlight-row-col-bg: #404040;
  --sudoku-highlight-same-number-bg: #2f4f4f;
  --sudoku-same-number-color: #fff;
  --sudoku-locked-cell-bg: #3a3a3a;
  --sudoku-locked-cell-color: #888;
}
